<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
    <!-- Include Bootstrap CSS and custom CSS if needed -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- Include custom CSS -->
    <!-- ... -->
</head>
<body>
     <!-- Flash Messages -->
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="alert alert-dismissible alert-danger">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
    {% endwith %}
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <h1 class="text-center">User Profile</h1>

                <!-- Display User Information -->
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Username: {{ user.username }}</h5>
                        <h5 class="card-title">Email: {{ email }}</h5>
                        <!-- Add more user information as needed -->
                    </div>
                </div>

                <!-- Password Reset Form -->
                <h3 class="mt-4">Reset Password</h3>
                <form method="POST" action="/reset_password">
                    <div class="form-group">
                        <label for="new_password">New Password:</label>
                        <input type="password" class="form-control" id="new_password" name="new_password" required>
                    </div>
                    <div class="form-group">
                        <label for="confirm_password">Confirm Password:</label>
                        <input type="password" class="form-control" id="confirm_password" name="confirm_password" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Reset Password</button>
		    <a href="{{ url_for('dashboard') }}" class="btn btn-primary">Back</a>
                </form>
            </div>
        </div>
    </div>
    <!-- Include Bootstrap JS and custom JavaScript if needed -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>

